RewriteEngine On 

#Rewrite in router
RewriteRule ^sanpham/([0-9]+)/([0-9]+)/(.*).html$ ?mod=product&site=view&id=$1 [QSA,L]
RewriteRule ^sanpham/([0-9]+)/(.*).html$ ?mod=product&site=lists&id=$1 [QSA,L]
RewriteRule ^tintuc/([0-9]+)/([0-9]+)/(.*).html$ ?mod=article&site=view&id=$1 [QSA,L]
RewriteRule ^tintuc/([0-9]+)/(.*).html$ ?mod=article&site=lists&id=$1 [QSA,L]
RewriteRule ^pjcat/(.*)-(.*).html$ ?mod=project&site=lists&id=$2 [QSA,L]
RewriteRule ^project/(.*)-(.*).html$ ?mod=project&site=view&id=$2 [QSA,L]
RewriteRule ^cposts/(.*)-(.*).html$ ?mod=posts&site=lists&id=$2 [QSA,L]
RewriteRule ^posts/(.*)-(.*).html$ ?mod=posts&site=view&id=$2 [QSA,L]
RewriteRule ^shop/([0-9]+)/$ ?mod=page&site=home&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/infomation$ ?mod=page&site=infomation&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/contact$ ?mod=page&site=contact&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/map$ ?mod=page&site=map&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/products$ ?mod=page&site=products&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/promotions$ ?mod=page&site=promotions&id=$1 [QSA,L]
RewriteRule ^shop/([0-9]+)/([A-Za-z0-9-/]+)$ ?mod=page&site=home&id=$1 [QSA,L]
RewriteRule ^cart.html$ ?mod=cart&site=index [QSA,L]
RewriteRule ^payment.html$ ?mod=cart&site=payment [QSA,L]
RewriteRule ^dang-ky.html$ ?mod=member&site=register [QSA,L]
RewriteRule ^dang-nhap.html$ ?mod=member&site=login [QSA,L]
RewriteRule ^tai-khoan.html$ ?mod=member&site=infomation [QSA,L]
RewriteRule ^cuahang$ ?mod=page&site=pages [QSA,L]
RewriteRule ^home/new$ ?mod=product&site=product_new [QSA,L]
RewriteRule ^home/promotions$ ?mod=product&site=product_promotions [QSA,L]
RewriteRule ^sanpham$ ?mod=product&site=lists [QSA,L]
RewriteRule ^timkiem$ ?mod=product&site=search [QSA,L]
RewriteRule ^contact$ ?mod=home&site=contact [QSA,L]
RewriteRule ^([A-Za-z0-9-/]+)$ ?mod=home&site=index [QSA,L]

#Rewrite in database menu
RewriteRule ^nha-o-xa-hoi.html$ ?mod=product&site=lists&id=270 [QSA,L]
RewriteRule ^chung-cu-thuong-mai.html$ ?mod=product&site=lists&id=271 [QSA,L]
RewriteRule ^du-an-condotel.html$ ?mod=product&site=lists&id=272 [QSA,L]
RewriteRule ^tin-tuc.html$ ?mod=article&site=lists&id=200 [QSA,L]
RewriteRule ^du-an-gold-city.html$ ?mod=product&site=lists&id=276 [QSA,L]
RewriteRule ^tai-khoan.html$ ?mod=member&site=infomation [QSA,L]
RewriteRule ^thay-doi-thong-tin.html$ ?mod=member&site=change [QSA,L]
RewriteRule ^thay-doi-avatar.html$ ?mod=member&site=avatar [QSA,L]
RewriteRule ^doi-mat-khau.html$ ?mod=member&site=password [QSA,L]
RewriteRule ^http://daisan.com.vn$ http://daisan.com.vn [QSA,L]
RewriteRule ^thanh-toan-help.html$ ?mod=article&site=view&id=971 [QSA,L]
RewriteRule ^danh-muc-san-pham.html$ ?mod=product&site=lists [QSA,L]
RewriteRule ^bai-viet.html$ ?mod=article&site=lists [QSA,L]
RewriteRule ^bai-viet.html$ ?mod=article&site=lists&id=196 [QSA,L]
RewriteRule ^bai-viet.html$ ?mod=article&site=lists&id=196 [QSA,L]
RewriteRule ^quan-ly-thong-tin.html$ ?mod=page_admin&site=admin [QSA,L]
RewriteRule ^quan-ly-don-dat-hang.html$ ?mod=page_admin&site=orders [QSA,L]
RewriteRule ^thong-tin-lien-he.html$ ?mod=page_admin&site=infomation [QSA,L]
RewriteRule ^quan-ly-logo-dai-dien.html$ ?mod=page_admin&site=avatar [QSA,L]
RewriteRule ^quan-ly-banner-trang.html$ ?mod=page_admin&site=banner [QSA,L]
RewriteRule ^danh-sach-san-pham.html$ ?mod=product&site=manager [QSA,L]
RewriteRule ^them-moi-san-pham.html$ ?mod=product&site=add [QSA,L]
RewriteRule ^quan-ba-dinh.html$ ?mod=product&site=lists&id=274 [QSA,L]
RewriteRule ^quan-cau-giay.html$ ?mod=product&site=lists&id=275 [QSA,L]
RewriteRule ^quan-bac-tu-liem.html$ ?mod=product&site=lists&id=277 [QSA,L]
