@font-face {
    font-family: Birthday;
    src: url('res/font/Birthday.ttf') format("truetype");
}
::selection {
  color: #ffffff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #ffffff; /* Gecko Browsers */
}