@font-face {
    font-family: ParagonCleanersMedium;
    src: url('res/font/ParagonCleanersMedium.ttf') format("truetype");
}
::selection {
    color: #ffffff; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: #ffffff; /* Gecko Browsers */
}