table {
    width: 100%;
}
table caption {
    background-color: #00CC33; 
    color: #FFFFFF;
}
table thead th {
    background-color: #00CC33; 
    color: #FFFFFF;
}

.inputaddschool {
    margin-top: 8px;
    margin-left: 5px;
    width: 400px;
}