.icon-48-schools {
      background-image: url(../images/l_schools.png);
      padding-left:60px!important;
}

.icon-48-school {
      background-image: url(../images/l_schools.png);
      padding-left:60px!important;
}

