RewriteEngine On 

#Rewrite in database module
RewriteRule ^home$ ?mod=home&site=index [QSA,L]
RewriteRule ^config$ ?mod=config&site=index [QSA,L]
RewriteRule ^roles$ ?mod=roles&site=index [QSA,L]
RewriteRule ^user$ ?mod=user&site=index [QSA,L]
RewriteRule ^menu$ ?mod=menu&site=cat [QSA,L]
RewriteRule ^gallery$ ?mod=gallery&site=index [QSA,L]
RewriteRule ^article$ ?mod=article&site=index [QSA,L]
RewriteRule ^product$ ?mod=product&site=index [QSA,L]
RewriteRule ^contact$ ?mod=contact&site=index [QSA,L]
RewriteRule ^video$ ?mod=video&site=index [QSA,L]
RewriteRule ^question$ ?mod=question&site=index [QSA,L]
RewriteRule ^feedback$ ?mod=feedback&site=index [QSA,L]
RewriteRule ^project$ ?mod=project&site=index [QSA,L]
RewriteRule ^posts$ ?mod=posts&site=index [QSA,L]
RewriteRule ^page$ ?mod=page&site=index [QSA,L]
RewriteRule ^other$ ?mod=other&site=local [QSA,L]
RewriteRule ^member$ ?mod=member&site=index [QSA,L]
RewriteRule ^config/info$ ?mod=config&site=info [QSA,L]
RewriteRule ^config/view$ ?mod=config&site=view [QSA,L]
RewriteRule ^config/add$ ?mod=config&site=add [QSA,L]
RewriteRule ^config/map$ ?mod=config&site=map [QSA,L]
RewriteRule ^config/support$ ?mod=config&site=support [QSA,L]
RewriteRule ^config/support_add$ ?mod=config&site=support_add [QSA,L]
RewriteRule ^config/support_edit$ ?mod=config&site=support_edit [QSA,L]
RewriteRule ^conf/mail$ ?mod=config&site=conf_mail [QSA,L]
RewriteRule ^user/add$ ?mod=user&site=add [QSA,L]
RewriteRule ^user/edit$ ?mod=user&site=edit [QSA,L]
RewriteRule ^user/password$ ?mod=user&site=password [QSA,L]
RewriteRule ^user/mails$ ?mod=user&site=mails [QSA,L]
RewriteRule ^user/mail_add$ ?mod=user&site=mail_add [QSA,L]
RewriteRule ^user/reset_pass$ ?mod=user&site=reset_pass [QSA,L]
RewriteRule ^menu/manager$ ?mod=menu&site=index [QSA,L]
RewriteRule ^menu/add$ ?mod=menu&site=add [QSA,L]
RewriteRule ^menu/edit$ ?mod=menu&site=edit [QSA,L]
RewriteRule ^menu/cat_edit$ ?mod=menu&site=cat_edit [QSA,L]
RewriteRule ^gallery/album$ ?mod=gallery&site=album [QSA,L]
RewriteRule ^gallery/manager$ ?mod=gallery&site=manager [QSA,L]
RewriteRule ^gallery/album_edit$ ?mod=gallery&site=album_edit [QSA,L]
RewriteRule ^gallery/edit$ ?mod=gallery&site=edit [QSA,L]
RewriteRule ^gallery/adsense$ ?mod=gallery&site=adsense [QSA,L]
RewriteRule ^article/add$ ?mod=article&site=add [QSA,L]
RewriteRule ^article/cat$ ?mod=article&site=cat [QSA,L]
RewriteRule ^article/cat_add$ ?mod=article&site=cat_add [QSA,L]
RewriteRule ^article/cat_edit$ ?mod=article&site=cat_edit [QSA,L]
RewriteRule ^article/edit$ ?mod=article&site=edit [QSA,L]
RewriteRule ^article/view$ ?mod=article&site=view [QSA,L]
RewriteRule ^product/add$ ?mod=product&site=add [QSA,L]
RewriteRule ^product/cat$ ?mod=product&site=cat [QSA,L]
RewriteRule ^product/cat_add$ ?mod=product&site=cat_add [QSA,L]
RewriteRule ^product/edit$ ?mod=product&site=edit [QSA,L]
RewriteRule ^product/cat_edit$ ?mod=product&site=cat_edit [QSA,L]
RewriteRule ^product/invoice$ ?mod=product&site=invoice [QSA,L]
RewriteRule ^product/invoice_item$ ?mod=product&site=invoice_item [QSA,L]
RewriteRule ^product/images$ ?mod=product&site=images [QSA,L]
RewriteRule ^product/cat_type$ ?mod=product&site=cat_type [QSA,L]
RewriteRule ^product/cat_type_add$ ?mod=product&site=cat_type_add [QSA,L]
RewriteRule ^product/cat_type_edit$ ?mod=product&site=cat_type_edit [QSA,L]
RewriteRule ^contact/register$ ?mod=contact&site=index&id=2 [QSA,L]
RewriteRule ^video/add$ ?mod=video&site=add [QSA,L]
RewriteRule ^video/edit$ ?mod=video&site=edit [QSA,L]
RewriteRule ^roles/add$ ?mod=roles&site=add [QSA,L]
RewriteRule ^roles/edit$ ?mod=roles&site=edit [QSA,L]
RewriteRule ^gallery/album_add$ ?mod=gallery&site=album_add [QSA,L]
RewriteRule ^gallery/add$ ?mod=gallery&site=add [QSA,L]
RewriteRule ^calendar/add$ ?mod=image&site=add [QSA,L]
RewriteRule ^calendar/edit$ ?mod=image&site=edit [QSA,L]
RewriteRule ^catetype/add$ ?mod=image&site=type_add [QSA,L]
RewriteRule ^catetype/edit$ ?mod=image&site=type_edit [QSA,L]
RewriteRule ^score/add$ ?mod=image&site=add&id=2 [QSA,L]
RewriteRule ^file/add$ ?mod=file&site=add [QSA,L]
RewriteRule ^file/edit$ ?mod=file&site=edit [QSA,L]
RewriteRule ^student/add$ ?mod=image&site=student_add [QSA,L]
RewriteRule ^question/add$ ?mod=question&site=add [QSA,L]
RewriteRule ^question/edit$ ?mod=question&site=edit [QSA,L]
RewriteRule ^feedback/add$ ?mod=feedback&site=add [QSA,L]
RewriteRule ^feedback/edit$ ?mod=feedback&site=edit [QSA,L]
RewriteRule ^feedback/items$ ?mod=feedback&site=items [QSA,L]
RewriteRule ^feedback/item_add$ ?mod=feedback&site=item_add [QSA,L]
RewriteRule ^feedback/item_edit$ ?mod=feedback&site=item_edit [QSA,L]
RewriteRule ^project/add$ ?mod=project&site=add [QSA,L]
RewriteRule ^project/cat$ ?mod=project&site=cat [QSA,L]
RewriteRule ^project/cat_add$ ?mod=project&site=cat_add [QSA,L]
RewriteRule ^project/edit$ ?mod=project&site=edit [QSA,L]
RewriteRule ^project/images$ ?mod=project&site=images [QSA,L]
RewriteRule ^project/cat_edit$ ?mod=project&site=cat_edit [QSA,L]
RewriteRule ^page/add$ ?mod=page&site=add [QSA,L]
RewriteRule ^page/edit$ ?mod=page&site=edit [QSA,L]
RewriteRule ^other/add$ ?mod=other&site=add [QSA,L]
RewriteRule ^orther/edit$ ?mod=other&site=edit [QSA,L]
RewriteRule ^gallery/add_QC$ ?mod=gallery&site=add_QC [QSA,L]
RewriteRule ^gallery/manager_adsense$ ?mod=gallery&site=manager_adsense [QSA,L]
